In [1]:
import sqlite3

In [2]:
database = "test.db"

In [3]:
link = sqlite3.connect(database)

In [4]:
ctr = link.cursor()

In [5]:
sql = """
CREATE Table If Not Exists 期中成績 \
("座號" Integer Not Null, \
"姓名" Text Not Null,\
"大數據" Integer Not Null,\
"資料庫" Integer Not Null,\
"財務管理" Integer Not Null)
"""

In [6]:
sql = "INSERT INTO 期中成績 VALUES(1,'ABC',80,90,100)"
ctr.execute(sql)

In [7]:
sql = "INSERT INTO 期中成績 VALUES(2,'CWW',84,9,140)"
ctr.execute(sql)

In [8]:
sql = "INSERT INTO 期中成績 VALUES(3,'DDC',50,91,50)"
ctr.execute(sql)

In [ ]:
sql = "Update 期中成績 VALUES(3,'DDC',50,91,50)"
ctr.execute(sql)

In [9]:
link.commit()