In [1]:
import pandas

In [2]:
shareprice = pandas.read_excel("./data.xlsx")

In [3]:
shareprice.to_excel("./owo.xlsx")

In [4]:
shareprice.columns[0]

'日期'

In [5]:
shareprice

             日期    開盤價    最高價    最低價    收盤價
0    2022/01/03  619.0  632.0  618.0  631.0
1    2022/01/04  645.0  656.0  644.0  656.0
2    2022/01/05  669.0  669.0  646.0  650.0
3    2022/01/06  638.0  646.0  636.0  644.0
4    2022/01/07  643.0  646.0  632.0  634.0
..          ...    ...    ...    ...    ...
179  2022/09/28  447.0  449.0  438.0  438.0
180  2022/09/29  443.0  443.5  432.0  435.0
181  2022/09/30  424.5  427.5  422.0  422.0
182  2022/10/03  418.5  424.5  416.5  417.0
183  2022/10/04  429.5  432.0  427.0  429.0

[184 rows x 5 columns]

In [6]:
shareprice.iloc[4]['最低價']

632.0

In [7]:
shareprice['最低價'][4]

632.0

In [8]:
shareprice['最低價'].iloc[4]

632.0

In [9]:
for i in range(6):
        print(shareprice['收盤價'][i])

631.0
656.0
650.0
644.0
634.0
643.0

In [10]:
shareprice['收盤價'][0:6]

0    631.0
1    656.0
2    650.0
3    644.0
4    634.0
5    643.0
Name: 收盤價, dtype: float64

In [11]:
shareprice = shareprice.set_index('日期')

In [15]:
shareprice.info

<bound method DataFrame.info of               開盤價    最高價    最低價    收盤價
日期
2022/01/03  619.0  632.0  618.0  631.0
2022/01/04  645.0  656.0  644.0  656.0
2022/01/05  669.0  669.0  646.0  650.0
2022/01/06  638.0  646.0  636.0  644.0
2022/01/07  643.0  646.0  632.0  634.0
...           ...    ...    ...    ...
2022/09/28  447.0  449.0  438.0  438.0
2022/09/29  443.0  443.5  432.0  435.0
2022/09/30  424.5  427.5  422.0  422.0
2022/10/03  418.5  424.5  416.5  417.0
2022/10/04  429.5  432.0  427.0  429.0

[184 rows x 4 columns]>

In [23]:
shareprice.loc['2022/01/03':'2022/01/10','最高價']

日期
2022/01/03    632.0
2022/01/04    656.0
2022/01/05    669.0
2022/01/06    646.0
2022/01/07    646.0
2022/01/10    645.0
Name: 最高價, dtype: float64

In [24]:
shareprice.index = pandas.to_datetime(shareprice.index)

In [25]:
shareprice.loc['2022Q2']

              開盤價    最高價    最低價    收盤價
日期
2022-04-01  585.0  589.0  584.0  589.0
2022-04-06  578.0  580.0  575.0  578.0
2022-04-07  571.0  573.0  566.0  566.0
2022-04-08  567.0  570.0  566.0  567.0
2022-04-11  563.0  566.0  558.0  558.0
...           ...    ...    ...    ...
2022-06-24  489.5  492.5  485.5  486.5
2022-06-27  496.0  506.0  495.5  498.5
2022-06-28  496.0  500.0  496.0  497.5
2022-06-29  496.0  498.5  491.0  491.0
2022-06-30  484.5  486.5  476.0  476.0

[61 rows x 4 columns]